<nav id="scanfcode" class="navbar">
  <div class="container-fluid">
    <div class="collapse navbar-collapse" id="myNavbar" style="margin-top: 4%;">
      <ul id="link" class="nav navbar-nav navbar-right">
        <li>
          <a [routerLink]="['home']" class="linkCor">
            <!-- <mat-ico8n>home</mat-ico8n> -->
            <span class="navText">Home</span>
          </a>
        </li>
        <li style="left: -7%;">
          <a [routerLink]="['politicaprivacidade']" class="linkCor">
            <!-- <mat-ic8on>security</mat-ic8on> -->
            <span class="navText">Política de Privacidade</span>
          </a>
        </li>
        <li style="left: -14%;">
          <a [routerLink]="['faleconosco']" class="linkCor">
            <!-- <mat-icon>phone</mat-icon> -->
            <span class="navText">Fale Conosco</span>
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>
