<main id="PAGES_CONTAINER" tabindex="-1">
  <div id="comp-kgjbndj7" style="margin-top: -1.6%;" class="GFY_- ignore-focus" tabindex="-1" role="region" aria-label="Inicio">&nbsp;
  </div>

  <section id="comp-kko3wwff">
    <div id="bgLayers_comp-kko3wwff" class="X-jRX">
      <div data-testid="colorUnderlay" class="mlsxv _22Lsw">
      </div>
      <div id="bgMedia_comp-kko3wwff" class="_1J6n9">
      </div>
    </div>
    <div id="comp-kko3wwyx" class="_31Ne5" style="height: 302px;">
      <div id="bgLayers_comp-kko3wwyx" class="X-jRX">
        <div data-testid="colorUnderlay" class="mlsxv _22Lsw">
        </div>
        <div id="bgMedia_comp-kko3wwyx" class="_1J6n9">
          <img id="img_comp-kko3wwyx" class="rca7A _22Lsw _1-b-O ysaOK bgImage"
          data-is-svg="false" data-is-svg-mask="false" data-image-zoomed="" data-has-ssr-src=""
          [src]="imgFndContact">
        </div>
      </div>
      <div data-mesh-id="comp-kko3wwyxinlineContent-gridContainer" data-testid="mesh-container-content">
        <div id="comp-kko44uw1" class="_2bafp" data-testid="richTextElement">
          <span style="font-size:34px">
            <span style="font-family:montserrat,sans-serif; color: #640000 !important">
              <span style="font-weight:bold">Fale Conosco
              </span>
            </span>
          </span>
        </div>
      </div>
    </div>
  </section>

  <section id="comp-kgipih90" class="JSM9k">

    <div data-testid="columns" class="_2EoGw">
      <div id="comp-kgipihnq" class="_31Ne5">
        <div id="bgLayers_comp-kgipihnq" class="X-jRX">
          <div data-testid="colorUnderlay" class="mlsxv _22Lsw">
          </div>
          <div id="bgMedia_comp-kgipihnq" class="_1J6n9">
          </div>
        </div>
        <div data-mesh-id="comp-kgipihnqinlineContent" data-testid="inline-content">
          <div data-mesh-id="comp-kgipihnqinlineContent-gridContainer" data-testid="mesh-container-content">
            <div id="comp-kgjcillx" class="_2bafp animating-screenIn-exit"
            data-testid="richTextElement" style="visibility: inherit;"
            data-angle="0" data-angle-style-location="style"
            style="margin-left: 0; width: 80% !important; ">
            <p style="font-family:montserrat,sans-serif; font-weight: 600; font-size:28px; text-align:center; padding-bottom: 5%; padding-top: 5% !important;">
              Seja bem-vindo à<br>GRC Team Consultoria e Suporte Técnico LTDA.
            </p>

            <div style="width: 100%; height: 950px; margin-top: -50px; ">
              <!-- Contatos -->
              <div id="fale" style="margin-top: 12%; float: left; width: 40%;">
                <div>
                  <div id="comp-kgkt8d5c" class="_2bafp animating-screenIn-exit" data-testid="richTextElement"
                  style="visibility: inherit;" data-angle="0" data-angle-style-location="style">

                  <h5 class="font_5" style="font-size:26px;">
                    <span style="font-size:26px">
                      <span style="font-family:montserrat,sans-serif;">
                        <span style="font-weight:bold">Contato</span>
                        <p>&nbsp;</p>
                      </span>
                    </span>
                  </h5>

                </div>
                <div id="comp-kgktfz9x" class="_2bafp animating-screenIn-exit"
                data-testid="richTextElement" style="visibility: inherit;" data-angle="0"
                data-angle-style-location="style">
                <div data-angle="0" class="contactorg"
                data-angle-style-location="style" *ngFor="let element of contatos">
                <div class="font_8">
                  <p class="contactorgPNome">{{element.nome}}</p>
                  <p class="contactorgP">&nbsp;<span class="fa fa-user icouser"></span><span>&nbsp;{{element.cargo}}</span></p>
                    <p style="line-height: 5px !important;">&nbsp;</p>
                  <p class="contactorgP"><span class="fa fa-phone icophone"></span><span>&nbsp;{{element.fone}}</span></p>
                    <p style="line-height: 5px !important;">&nbsp;</p>
                  <p class="contactorgP"><span class="fa fa-envelope icomail"></span><span>&nbsp;<a href="#">{{element.email}}</a></span></p>
                  <p>&nbsp;</p>
                  <hr>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- Contatos -->

        <!-- Fale Conosco -->
        <div style="height: 850px; background-color: #fff; vertical-align: top; float: right; width: 60%;">
          <embed src="https://us1.list-manage.com/contact-form?u=69c4ed94afb05645c16d94099&form_id=4a36de89479127d776ebc88afae54420"
          type="" width="100%" height="1100px">
        </div>
        <!-- Fale Conosco -->
      </div>

      <div style="width: 100%; margin-top: -50px;">
        <!-- Localização -->
        <section id="comp-kgk3kils" class="JSM9k">
          <div id="comp-kgk3kj7l" class="_31Ne5">
            <div id="bgLayers_comp-kgk3kj7l" class="X-jRX">
              <div data-testid="colorUnderlay" class="mlsxv _22Lsw">
              </div>
              <div id="bgMedia_comp-kgk3kj7l" class="_1J6n9">
              </div>
            </div>
            <div data-mesh-id="comp-kgk3kj7linlineContent" data-testid="inline-content" class="">
              <div data-mesh-id="comp-kgk3kj7linlineContent-gridContainer" data-testid="mesh-container-content">

                <div id="comp-kgkt8d5c" class="_2bafp animating-screenIn-exit" data-testid="richTextElement" style="visibility: inherit;" data-angle="0" data-angle-style-location="style">

                  <h5 class="font_5" style="font-size:26px; text-align:center">
                    <span style="font-size:26px">
                      <span style="font-family:montserrat,sans-serif">
                        <span style="font-weight:bold">Localização
                        </span>
                      </span>
                    </span>
                  </h5>
                </div>
                <div id="comp-kgktfz9x" class="_2bafp animating-screenIn-exit" data-testid="richTextElement" style="visibility: inherit;" data-angle="0" data-angle-style-location="style">
                  <h1 class="font_0" style="font-size:18px; line-height:1.4em; text-align:center">
                    <span style="font-size:18px">
                      <span style="font-family:montserrat,sans-serif">Av. Pres. Juscelino Kubitschek, 1726 - Vila Olímpia<br>São Paulo - SP, 04543-000
                      </span>
                    </span>
                  </h1>
                  <!-- Maps -->
                  <div style="position: static; width: 100%; margin-left: -22%; margin-top: 5%;">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d507.8801533676451!2d-46.68453853611949!3d-23.594751865219436!2m3!1f337.3794203428283!2f44.89141193295259!3f0!3m2!1i1024!2i768!4f35!3m3!1m2!1s0x94ce574699905667%3A0xc17a2adc9d006999!2sAv.%20Pres.%20Juscelino%20Kubitschek%2C%201726%20-%20Itaim%20Bibi%2C%20S%C3%A3o%20Paulo%20-%20SP%2C%2013571-410!5e1!3m2!1spt-BR!2sbr!4v1626098770776!5m2!1spt-BR!2sbr"
                    width="975" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
                  </div>
                  <!-- Maps -->
                </div>
              </div>
            </div>
          </div>
        </section>
        <!-- Localização -->
      </div>

    </div>
  </div>
</div>
</div>
</div>
</section>
</main>
