<nav id="scanfcode" class="navbar" style="right: -60%;">
  <div class="container-fluid">
    <div class="navtop">
      <ul id="link" class="nav navbar-nav navbar-right">
        <li class="linha-vertical">
          <a href='https://app.grcteam.com.br'
          title="Clique para acessar o E-GRC">
            <mat-icon>
              insert_chart_outlined
            </mat-icon>
            <span class="navText">E-GRC</span>
          </a>
        </li>
        <!-- <li id="button-link" class="linha-vertical"><a href="#">Login</a></li> -->
      </ul>
    </div>
  </div>
</nav>
